<div id="form_retire_note">
	<%=render 'retire_note'%>
</div>
<div id="form_msg">
	<label id="notice"> <font color="green"><%= flash[:notice] %></font> </label>	
</div>
<div id="form_list_retire_note">
	<%=render 'list'%>
</div>
<br />
<br />


