/* ------------------------------- */
/* SITE Structure
/* ------------------------------- */

html { background:#c0c0c0; }
body { text-align: left; font: 14px/18px Arial, Helvetica, sans-serif; color: #3a4f54; margin: 0 auto; }
a { color: #e33b06; }


fieldset, #bordeado{ 
	border: 1px solid #0B3861 !important;
	margin-bottom: 10px;
	background-color:#EFEFFB !important;
}

fieldset legend {
	padding: 3px 10px;
	border:1px solid #0B3861;
	color:#222; 
	font:bold 13px/normal Arial;
	margin-left: 10px;
}


#header { height: 30px; background-color:#414141 !important; }
#container { margin-top: 10px; }
#footer { margin-top: 10px; color: #444; font-size:12px; }

.wrapper { width: 897px; margin:0 auto; }

/* CREANDO LOS SUBTITULOS*/
#container h2		{ font:bold 20px/40px Arial; padding-left:10px; background-color:#0B3861; color:#FFF; }
#container h3		{ font:bold 12px/24px Arial Black ; padding-left:10px; background-color:#0B3861; color:#FFF; }

#container ul li{
	margin-left: 20px;
	float:left;
	width:45%;
}

#container ul li.max-width{
	margin-bottom: 5px;
	margin-left: 20px;
	width:90%;
	text-align:center !important;
}
#container .max-heigth{
	margin-bottom: 5px;
	margin-left: 20px;
	margin-top:100px;
	height: 500px;
	text-align:center !important;
}
#container .min-heigth{
	margin-bottom: 5px;
	margin-left: 20px;
	margin-top:20px;
	height: 250px;
	text-align:center !important;
}
#container ul li.max-width-right{
	margin-left: 20px;
	width:90%;
	text-align:right !important;
}

.clear {
	clear:both;
	height:0px;		
}
.hide{
	display:none !important;
}

#container form		{ 
	border:1px solid #888;
	padding:10px 15px; 
	background-color:#EFEFFB !important;
	min-height:520px;
 }
#container table 	{ margin:0 auto; }
#container form	{ font: bold 14px/28px Arial;}

#container  fieldset input[type="text"], table input[type="text"], .dataTables_filter input[type="text"], div textarea,fieldset input[type="text"], div table input[type="text"],
#container  fieldset input[type="password"], #container  table input[type="password"]
{
	border:1px solid #8A084B !important;
	background-color:#FFFFFF !important;
	padding:3px 5px !important;
	color:#000000 !important;
	font-size:13px !important;
	margin-bottom: 8px !important;
	
		
	/* CSS3 spicing */
	-moz-border-radius:4px !important;
	-webkit-border-radius:4px !important; 
}
#container fieldset  input, table input, div fieldset  input, div table input{
	margin:5px 5px !important;
}
#container fieldset  input.disable,  div fieldset  input.disable{
	background: #cecece !important;
}

#container fieldset  select, table select, div fieldset  select {
	border:1px solid #8A084B;
	background-color:#FFFFFF;
	padding:3px 5px;
	color:#000000;
	font-size:13px;
	margin-bottom: 8px;
	
	/* CSS3 spicing */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#container table td { font-style:normal; color: #000000; padding:0 5px; }

#container input:focus 	{ border:1px solid #3a4f54 !important; background-color:#ccc !important; }
#container input:active 	{ border:1px solid #3a4f54 !important; background-color:#ccc !important; }


.dataTables_length, .dataTables_filter,.dataTables_info{
	 margin-bottom:0!important; 
	 font-weight:bold !important;
	 font-size:12px;
}

.lista_items thead th.sorting	{ text-align:left; font:bold 11px/18px Arial !important; }
.lista_detalle thead th{ text-align:left; font:bold 11px/18px Arial !important; }

/* Buttom general de todo el sistema*/
#container fieldset input[type="submit"], 
#container table input[type="submit"], 
#container input[type="submit"]  { 
	background:url(button-grad.png) repeat-x !important;
	border:none; 
	color: #fff; 
	font-weight: bold; 
	padding:3px 15px; 
	display:inline-block;
	margin-bottom: 12px;
	-moz-border-radius:11px; 
	-webkit-border-radius:11px;
	cursor:pointer; 
	border:1px solid #fff;
	margin-top:8px !important;
	margin-left: 4px;

}
#container input:focus 	{ 
	border:1px solid #3a4f54 !important; 
	background-color:#ccc !important; 
}	
#container input[type="submit"]:hover, 
#container  fieldset  input.agregar:hover { border:1px solid #13455b }
#container input[type="submit"]:active, 
#container  fieldset  input.agregar:hover { 
	background:url(button-grad-active.png) repeat-x !important; 
}


/*Buttom buscar*/
#container  fieldset input.search, #container  table input.search{
	background-color:#0B3861 !important;
	border:none;
	background:url(../images/zoom.png) no-repeat !important;
	width:16px !important;
	height:16px !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
	padding:0 !important; 
}
#container  fieldset  input.search:hover, div fieldset  input.search:hover, #container  table input.search:hover { border:0 !important; }

/*Buttom Borrar*/
#container div.borrar {
	background:url(borrar2.gif) no-repeat !important;
	width: 30px;
	height: 30px;
	font-size: 0px;
	cursor: pointer;
}
#container div.editar {
	background:url(editar.gif) no-repeat !important;
	width: 30px;
	height: 30px;
	font-size: 0px;
	cursor: pointer;
}


/*
#container  fieldset input.agregar {
	padding-left:16px !important;
	background:url(../images/add.png) no-repeat !important;
	border:0 !important;
	
}

#container  fieldset  input.agregar:hover { border:0 !important; }
*/
#lista_items { width: none !important;}

#container  fieldset ul li label, div fieldset ul li label{
	margin-right: 5px !important;
	text-align:right !important;
	width:100px !important;
	display:inline-block !important;
	font-size:12px;
}
#container  fieldset ul li label.especial{
	margin-right: 5px !important;
	text-align:right !important;
	width:97px !important;
	display:inline-block !important;
	font-size:12px;
}
#container  fieldset ul li label.titulo{
	margin-right: 5px !important;
	text-align:center !important;
	display:inline-block !important;
	width:350px !important;
}
#container  fieldset ul li label.titulo2{
	margin-right: 5px !important;
	display:inline-block !important;
	width:350px !important;
}


#container  fieldset  input[type="submit"]:hover, #container  fieldset  input.agregar:hover 
{ border:1px solid #13455b }
#container  fieldset  input[type="submit"]:active, #container  fieldset  input.agregar:hover 
{ background:url(../images/button-grad-active.png) repeat-x !important; }
#container  table  input[type="submit"]:hover, #container  fieldset  input.agregar:hover 
 { border:1px solid #13455b }
#container  table  input[type="submit"]:active, #container  fieldset  input.agregar:hover 
 { background:url(../images/button-grad-active.png) repeat-x !important; }
 
/*para las popup que se abren*/
#container div  fieldset  input[type="submit"]:hover
{ border:1px solid #13455b }
#container  div fieldset  input[type="submit"]:active
{ background:url(../images/button-grad-active.png) repeat-x !important; }
#container  div table  input[type="submit"]:hover
 { border:1px solid #13455b }
#container  div table  input[type="submit"]:active
 { background:url(../images/button-grad-active.png) repeat-x !important; }

button.ui-datepicker-trigger{
	background:none;
	border:none;
	background:url(../images/calendar.png) no-repeat !important;
	width:16px !important;
	height:16px !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
	padding:0 !important; 
	margin-right:5px !important;
	cursor:pointer; 
	border:1px solid #fff;
	margin-top:8px !important;
	margin-left: 4px;
}
button.ui-datepicker-trigger{
	border:0 !important;
}