<div class="span-24 left">
<fieldset>
	<%= form_tag({:action => 'add_product'}, :remote => true) do%>
	<ul>
		<li>
			<label>Codigo de Barra:</label>
			<%= text_field_tag :bar_code,nil, id: 'bar_code',size: '20', :maxlength => 25%>
			<%= submit_tag '',class:"add"%>
		</li>
		
	</ul>
	<% end %>
	<div id="div_routing_sheet_detail">
		<%= render 'detail'%>
	</div>
</fieldset>
</div>
<script>
	//Validacion del codigo de barra
     var f1 = new LiveValidation('bar_code', { validMessage: " ",onlyOnSubmit: true,wait: 500 });
        f1.add( Validate.Numericality, { notANumberMessage: " " } );
        f1.add( Validate.Presence, { failureMessage: " " } );
</script>
