<h1>Editando Hoja de Ruta</h1>

<div id="form_routing_sheet">
	<%= render 'form' %>
</div>
 <div id="routing_sheet_product">
		<%= render 'product' %>
</div>
<%= link_to 'Regresar', routing_sheets_path %>
