<div class="span-24 last">
  	<div id="error_explanation" style="color:red">
  		<%= flash[:error] %>
	</div>
  </div>

<div style="width: 100%; height: 400px; margin-top: 150px;">
  <%= image_tag ("courier.jpg") %>
  
</div>
