<div class="span-24 last">
  <fieldset>
    <legend>Buscar Guias de Transportes</legend>
    <ul>
      <li>
        <label>Numero de Guia:</label>
        <input type="text" size="6" maxlength="6"></input>
      </li>
      <li>
        <label>Fecha De Creación:</label>
        <input type="text" size="12" maxlength="12" class="i_fecha"></input>
      </li>
      <div class="clear"></div>
       <li>
        <label>Cliente:</label>
        <input type="text" size="20" maxlength="20" class="i_autocomplit"></input>
      </li>
      <li>
        <label>Estado:</label>
        <select></select>
      </li>
       <div class="clear"></div>
      <li>
        <label>Origen:</label>
        <input type="text" size="20" maxlength="20" class="i_autocomplit"></input>
      </li>
      <li>
        <label>Destino:</label>
        <input type="text" size="20" maxlength="20" class="i_autocomplit"></input>
      </li>
    </ul>
  </fieldset>
</div>