<div class="span-24 left">
	<div id="form_search_product">
		<%=render 'search'%>
	</div>
	<div class="subtitle">
         <h4>Lista de Productos</h4>
    </div>
                    
	<div id="form_result_product">
		<%=render 'result'%>
	</div>
</div>
<%= link_to 'Regresar', new_product_path %>


