<!-- Formulario para registrar nuevo producto-->
<div id="form_product">
	<%=render 'product'%>
</div>
    <div style="display:none;">
        <div id="popin" style="width: 580px;">
            <div id="popup">
                <%= render 'popup_receiver'  %>
            </div>	
        </div>
    </div>
<div id="form_list_product">
		<%=render 'list'%>
</div>

